@model List<ProductModel>

<style>
    .list-view li {
        list-style-type: none;
        margin-bottom: 10px;
    }
    .table-view th, .table-view td {
        padding: 8px;
        text-align: left;
    }
    .table-view th {
        background-color: #f2f2f2;
    }
</style>

<h2>Product List</h2>

<h3>List View:</h3>
<ul class="list-view">
    @foreach (var product in Model)
    {
        <li>@product.ID. @product.Name - @product.Price$ (@product.CreatedDate)</li>
    }
</ul>

<h3>Table View:</h3>
<table class="table-view" border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Price$</td>
                <td>@product.CreatedDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
